////////////////////////
// Drupal Specific Styling
////////////////////////

@import 'system-menu';
@import 'drupal-contrib';

$brand-success: #f3faef;


// Zero-out default border-bottom.
th {
    border-bottom: 0;
}

// Default Block Title
h2.block-title {
    border-bottom: 2px solid rgba(167, 167, 167, 0.2);
    font-weight: 400;
    padding: 0 0 5px;
}

// Read More / Node Link Button
.views-field-link,
.views-field-view-node {
    a {
        @extend %btn;
        @extend %btn-sm;
        @include rem(1.4);
    }
}

// Messages
.messages {
    margin: 0.7rem 0;
    padding: 1rem;
}

.messages--status {
    background: $brand-success;
    border: 1px solid darken($brand-success, 30%);
    color: darken($brand-success, 30%);
}

ul.primary {
    margin-top: 1rem;
}
